{% extends 'base.html' %}

{% block content %}
    {% for num, weekday in weekdays %}
        <p>
        <h2>{{ weekday }}</h2>
        {% for showing in showings %}
            {% if showing.get_numerical_weekday == num %}
                <p>
                    {{ showing.get_time }}
                    <a href="{{ showing.get_absolute_url }}">{{ showing.movie.title }}</a>
                    (Hall {{ showing.hall.number }})
                    <a href="{% url 'create-order' showing.uuid %}">Book a Ticket!</a>
                </p>
            {% endif %}
        {% endfor %}
        </p>

    {% endfor %}

{% endblock %}