{% extends 'base.html' %}

{% block content %}
    <p>
    <h2>Your current tickets:</h2>
    {% for order in tickets_current %}
        <p>
            {{ order.tickets_amount }} tickets for
            <a href="{{ order.showing.get_absolute_url }}">{{ order.showing }}</a>
            ({{ order.is_accepted }})
        </p>
    {% endfor %}
    <h2>History of your tickets:</h2>
    {% for order in tickets_history %}
        <p>{{ order.showing }}</p>
    {% endfor %}

    {% if tickets_for_cashier %}
        <h2>Tickets to accept:</h2>
        {% for order in tickets_for_cashier %}
            <p>
                {{ order }}
                <a href="{% url 'accept-order' order.uuid %}">
                    <button class="btn btn-success">Accept</button>
                </a>
                <a href="{% url 'reject-order' order.uuid %}">
                    <button class="btn btn-danger">Reject</button>
                </a>
            </p>
        {% endfor %}
    {% endif %}
    </p>

{% endblock %}