{% extends 'base.html' %}

{% block content %}
    <h1>Your current tickets:</h1>
    {% for order in tickets_current %}
        <p>
            {{ order.tickets_amount }} tickets for
            <a href="{{ order.showing.get_absolute_url }}">{{ order.showing }}</a>
            ({{ order.is_accepted }})
        </p>
    {% endfor %}
    <h1>History of your tickets:</h1>
    {% for order in tickets_history %}
        <p>{{ order.showing }}</p>
    {% endfor %}

    {% if tickets_for_cashier %}
    <h1>Tickets to accept:</h1>
        {% for order in tickets_for_cashier %}
            <p>
                {{ order }}
                <a href="{% url 'accept-order' order.uuid %}"><button>Accept</button></a>
                <a href="{% url 'reject-order' order.uuid %}"><button>Reject</button></a>
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}